11g_noBC_noDR;11gBCnoDR;/u01/app/oracle/product/11.2.0.4/dbhome_noBC_noDR;NONE;NONE
11gBCnoDR;/u01/app/oracle/product/11.2.0.4/dbhome_BCnoDR;11g;11gBCnoDR_BC;NONE
SAMPLE11g;/u01/app/oracle/product/11.2.0.4/dbhome_181016;11g;SAMPLE11gBC;SAMPLE11gDR
SAMPLE12c;/u01/app/oracle/product/12.1.0.2/dbhome_181016;12c;SAMPLE12cBC;NONE
FOOBAR12c;/u01/app/oracle/product/12.1.0.2/dbhome_181016;12c;NONE;NONE
